html{
  scroll-behavior: smooth;
}
.MuiBottomNavigation-root.main_nav{
  position:fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}


/*This is for 1024*/

@media screen and (min-width: 1024px){
  .sidenav {
    height: 94%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4f6ff;
    overflow: hidden;
    padding-top: 20px;
    border-radius: 25px;;
    margin: 20px;;
    box-shadow: 0 3px 15px rgba(0,0,0,.15);
    display: inherit;
    
  }




  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 20rem; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .nav_tabs{
    text-align: center;
    position: relative;
    right: .7rem;

  }

  .intro_bar{
    position: relative;
    left:10%;
  }

  .MuiAvatar-rounded.sizing{
    height: 12.5rem;
    width: 12.5rem;
    position: relative;
    right: 1rem;
  }

  .name{
    color:#07031a;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    position: relative;
    left:1rem;
    color: #f50057;
  }

  .content_box{
    width: 80%;
    height: auto;
    text-align: justify;
    word-spacing: inherit;
    font-weight: 500;
    color: #818181;
    font-size: .8rem;
  }
  footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;

  }

  .copyright{
    position: relative;
    top:.5rem;
    color: #818181;
  }
}


@media screen and (min-width: 1900px){
  a{
    color: black;
    text-decoration: none;
  }

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
  .sidenav {
    height: 94%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4f6ff;
    overflow: hidden;
    padding-top: 20px;
    border-radius: 25px;;
    margin: 20px;;
    box-shadow: 0 3px 15px rgba(0,0,0,.15);
    display: inherit;
    
  }




  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .main {
    margin-left: 20rem; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  .nav_tabs{
    text-align: center;
    position: relative;
    right: .7rem;
    top:3rem;

  }

  .intro_bar{
    position: relative;
    left:10%;
  }

  .MuiAvatar-rounded.sizing{
    height: 12.5rem;
    width: 12.5rem;
    position: relative;
    right: 1rem;
  }

  .name{
    color:#07031a;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    position: relative;
    left:1rem;
    color: #f50057;
  }

  .content_box{
    width: 80%;
    height: auto;
    text-align: left;
    word-spacing: inherit;
    font-weight: 500;
    color: #818181;
    font-size: 1rem;
  }
  footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;
    top:6rem;

  }

  .copyright{
    position: relative;
    top:.5rem;
    color: #818181;
  }
}






